[2019-12-18 13:11] jscurtu opened #3 "Your bowser isn't fully supported"
I get the following error when using iCloud Pages and co.

![image](https://user-images.githubusercontent.com/590307/71089009-2eb02080-21a0-11ea-88ec-9768f72fcd48.png)

[2019-12-18 13:13] MarcusTomlinson commented on #3
Indeed, Apple don't officially support a qml webview browser, but if you click Continue everything mostly works as it should anyway. The experience of having to click Continue is shoddy of course. I've got it on my todo to see if I can remove that.

[2019-12-18 14:30] jscurtu commented on #3
Hi @MarcusTomlinson

I think all you need to do is change the useragent with something supported by apple..
maybe something like this in the webview:

[code]

https://doc.qt.io/qt-5/qml-qtwebengine-webengineprofile.html#httpUserAgent-prop

https://developers.whatismybrowser.com/useragents/explore/

[2019-12-18 14:49] MarcusTomlinson commented on #3
Ah! You're absolutely right. This will be fixed in 0.4 - releasing soon :) Thanks @jscurtu!

[2019-12-18 14:49] #3 closed

[2020-01-11 09:49] hilpara opened #4 "Segfault starting any of the apps (Arch"
When ever I try to launch any of the icloud apps, I will get a  segmentation fault:

`[  209.006715] audit: type=1326 audit(1578734809.591:77): auid=1000 uid=1000 gid=985 ses=2 pid=2111 comm="qmlscene" exe="/snap/icloud-for-linux/59/usr/lib/qt5/bin/qmlscene" sig=0 arch=c000003e syscall=272 compat=0 ip=0x7f3636e31839 code=0x50000
[  209.120094] audit: type=1701 audit(1578734809.704:78): auid=1000 u

[2020-01-11 09:50] hilpara opened #5 "Segfault starting any of the apps (Arch)"
When ever I try to launch any of the icloud apps, I will get a  segmentation fault:

`[  209.006715] audit: type=1326 audit(1578734809.591:77): auid=1000 uid=1000 gid=985 ses=2 pid=2111 comm="qmlscene" exe="/snap/icloud-for-linux/59/usr/lib/qt5/bin/qmlscene" sig=0 arch=c000003e syscall=272 compat=0 ip=0x7f3636e31839 code=0x50000
[  209.120094] audit: type=1701 audit(1578734809.704:78): auid=1000 u

[2020-01-11 09:51] #4 closed

[2020-01-11 09:51] hilpara commented on #4
Double

[2020-01-12 22:04] hilpara commented on #5
If it helps, here is the stack trace:
`systemd-coredump[6421]: Process 6272 (qmlscene) of user 1000 dumped core.

                                                  Stack trace of thread 6272:
                                                  #0  0x00007f97a97f2a11 n/a (libQt5XcbQpa.so.5 + 0xa0a11)
                                                  #1  0x00007f97b06bcb21 n/a (libQt5Gui.so.5 + 0x1d4b

[2020-02-23 14:11] jakubkameleon opened #6 "Don't work"
Hi could I ask for help? I have Installed with snap, on my Debian 10.
![icloud](https://user-images.githubusercontent.com/33316966/75113449-5adb9800-564e-11ea-934f-069d1a0e3c72.png)
How to use this, afetr clik nothing happen. In htop it show just for a moment and disapear.
![proces](https://user-images.githubusercontent.com/33316966/75113503-c160b600-564e-11ea-9e0f-510c047eb784.png)

[2020-02-23 16:17] MarcusTomlinson commented on #6
Try clearing the cache like so: `rm -rf ~/snap/icloud-for-linux/`, then relaunching the snap.

[2020-02-23 17:00] jakubkameleon commented on #6
I celaned cache and try launch iclud Drive, this process apear only for a while :(
![Screenshot from 2020-02-23 17-57-44](https://user-images.githubusercontent.com/33316966/75116228-5cb15580-5666-11ea-8917-8e821dba5117.png)

[2020-02-23 17:03] MarcusTomlinson commented on #6
Could you please run drive from the terminal like this: `snap run icloud-for-linux.drive` and paste the output here.

[2020-02-23 17:05] jakubkameleon commented on #6
Yes, ofcourse:

`pretender@ThinkPad:~$ snap run icloud-for-linux.drive
Warning: QT_DEVICE_PIXEL_RATIO is deprecated. Instead use:
   QT_AUTO_SCREEN_SCALE_FACTOR to enable platform plugin controlled per-screen factors.
   QT_SCREEN_SCALE_FACTORS to set per-screen factors.
   QT_SCALE_FACTOR to set the application global scale factor.
Qt: Session management error: None of the authentication protocol

[2020-02-23 17:19] MarcusTomlinson commented on #6
Hmm, try a re-install:

[code]

If this still doesn't work, try `snap install icloud-for-linux --devmode` in place of the third step above.

[2020-02-23 17:33] jakubkameleon commented on #6
Now it works :) thanks a lot!!!
**snap install icloud-for-linux --devmode**
Installation devmode, this app work correct. Great! I tried other similar app it also works, but after quit the process was still running. In this case process end after quit app.

[2020-02-23 17:33] #6 closed

[2020-03-11 16:43] sam02151015 opened #7 "Is it possible to sync the files in the icloud drive to a local folder? say ~/icloud_drive"
I am very interested in getting a dropbox alternative on linux using icloud. Is it possible to sync the files in the icloud drive to a local folder? say ~/icloud_drive

[2020-03-13 19:19] azigit opened #8 "icloud photos - how to subscribe to shared album"
I've installed icloud-for-linux on a linux mint machine with the hope that I'd be able to accept an invitation to subscribe to a shared iCloud Photo album.
I've created an Apple ID but have no Apple devices.
When I launch iCloud Photos I get this message:
"Unable to load Photos - your apple id ### is not an iCloud account. Please sign in with the Apple ID from your device."
Can I access this share

[2020-03-14 05:58] MarcusTomlinson commented on #8
Could you try navigate to https://icloud.com/ in your browser and try signing in with your Apple ID there? It’s possible you may need to complete a registration process there before this app will work.

[2020-03-14 06:07] MarcusTomlinson commented on #7
While theoretically it could be possible to implement such a feature from the ground up, it is too far out of scope for this project unfortunately.

[2020-03-14 06:08] #7 closed

[2020-03-19 20:53] azigit commented on #8
In firefox I cannot sign in at icloud.com.
In chrome I can sign in with my apple id. Icons for various services (Notes, Pages etc but not Photos or Albums) are then displayed. If I then open the email containing the invitation to subscribe to the album and click on Subscribe the following message is shown:
"iCloud Photo Sharing is not available for this device.
To subscribe to xxxxx shared album o

[2020-03-21 00:09] SethBasham opened #9 "No Apps will open."
Operating System: Manjaro Linux
KDE Plasma Version: 5.18.3
KDE Frameworks Version: 5.67.0
Qt Version: 5.14.1
Kernel Version: 5.4.24-1-MANJARO
OS Type: 64-bit
Processors: 4 × Intel® Core™ i5-6300U CPU @ 2.40GHz
Memory: 15.4 GiB of RAM

----------

Anytime I attempt to open any of the apps, they show up in the taskbar for about 5 seconds and then disappear. No processes are showing up under HTOP. Un

[2020-03-29 10:55] MarcusTomlinson commented on #9
Could you try re-installing like this:

[code]

If this still doesn't work, try `snap install icloud-for-linux --devmode` in place of the third step above.

[2020-04-10 13:38] leeniu opened #10 "Unable to zoom"
**Issue:**

I have a hidpi display and contents of the apps are too small for me. I need to ability to zoom in, similar to "ctrl" + "+" / "-" on standard web pages.

**Info:**

Running snapd on Pop!_OS 19.10 on an AMD desktop pc with a BenQ 32'' display.

I'm not sure about what can be done from this repo since there is not much custom code in here, but because I do not understand snaps yet, I lea

[2020-04-10 16:28] MarcusTomlinson commented on #10
Fixed in 0.5

[2020-04-10 16:30] #8 closed

[2020-04-19 13:48] gberdzenishvili commented on #9
I got the same issue, running from terminal gives me the following:
[code]

Operating System: Manjaro Linux
KDE Plasma Version: 5.18.4
KDE Frameworks Version: 5.69.0
Qt Version: 5.14.2
Kernel Version: 5.4.33-1-MANJARO
OS Type: 64-bit
Processors: 8 × Intel® Core™ i7-8550U CPU @ 1.80GHz
Memory: 15.5 GiB of RAM

[2020-04-19 17:48] MarcusTomlinson commented on #9
Could you try:

sudo fc-cache -f -v

[2020-04-20 00:30] jvacek opened #11 "Can't scroll in mail."
Ubuntu 19.10, installed from snap. Using Gnome. PgUp/Down doesn't work either. Let me know what other info I can provide to you to help troubleshoot this.

It works in Notes for example. Will update with other apps I notice this in.

[2020-04-20 04:37] yswtrue commented on #9
same issue. I have tried `sudo fc-cache -f -v`, and it won't work for me.

[2020-04-20 05:35] yswtrue commented on #9
[code]
These work for me.

[2020-04-20 08:26] MarcusTomlinson commented on #11
Fixed in 0.6

[2020-04-20 08:26] #11 closed

[2020-04-20 12:45] gberdzenishvili commented on #9
`sudo fc-cache -f -v` worked for me, thanks @MarcusTomlinson

[2020-04-22 11:16] leeniu commented on #10
@MarcusTomlinson sry to necro this ticket. First up, thanks for the fix, I can confirm it's working. Is there a way to remember the zoom level? I have to zoom in again every time I re-open one of the apps.

[2020-04-22 11:29] MarcusTomlinson commented on #10
Sure, I’ll look into it.

[2020-04-24 06:30] PaulLaux opened #12 "support for Apple music"
Now that Apple music for web is out of beta, would it be possible to add it as part of this wonderful package?

https://music.apple.com/us/browse

[2020-04-24 08:40] MarcusTomlinson commented on #12
Hey @PaulLaux, I have looked into this and learnt that it would be quite tricky to pull off. I'll certainly revisit the idea though.

It's not that snapping Apple Music is difficult. The issue is the legality of it. In order to support DRM-encrypted media streaming, the snap would need access to the Widevine CDM library. Embedding this into the snap is not legal, so users would need to download it

[2020-04-24 08:40] #12 closed

[2020-04-24 08:42] MarcusTomlinson commented on #9
@SethBasham, does clearing the font config cache work for you?

[2020-04-24 08:43] MarcusTomlinson commented on #5
Could you try re-installing like this:

[code]

If this still doesn't work, try `snap install icloud-for-linux --devmode` in place of the third step above.

[2020-04-24 19:48] MarcusTomlinson commented on #12
@PaulLaux, so it's not pretty but it works: https://snapcraft.io/apple-music-for-linux

[2020-04-30 12:20] bshaw commented on #10
+1
Some snaps are able to scale by adding the force-device-scale-factor flag to the Exec line in the launcher, for example:

```--force-device-scale-factor=2.0```

I've tried adding this to `/var/lib/snapd/desktop/applications/icloud-for-linux_calendar.desktop`, but no luck. I've not created any snaps, but will do some poking around and let you know if I find anything.

[2020-05-30 14:03] #9 closed

[2020-06-05 07:27] #10 closed

[2020-06-12 03:10] jecsanb opened #14 "Does not sync icloud drive data down to device."
Is the app just suppose to display things like the browser?
I found this to try to sync my iCloud stuff on my linux computer the same way it works on the
windows app. Is doing that possible with these apps? If not is there a future update that would allow the sync?

[2020-06-12 04:22] MarcusTomlinson commented on #14
Duplicate of: https://github.com/cross-platform/icloud-for-linux/issues/7

[2020-06-12 04:23] #14 closed

[2020-06-16 19:59] kristianpaul opened #15 "Feature request: CLI Support"
Would be nice to have some basic CLI Support, i realize that I'll need X to get this working:

[code]

[2020-06-17 07:53] MarcusTomlinson commented on #15
Sorry, this is beyond the scope of the project.

[2020-06-17 07:53] #15 closed

[2020-06-17 07:54] #5 closed

[2020-07-09 19:38] slinkouswasalreadytaken opened #16 "Fontconfig warning: FcPattern object weight does not accept value [x y)"
Installed a while ago using snap on the latest version of Manjaro (linux57). It worked fine at first, but now it doesn't even open. Reinstalled, but still no luck. iCloud opens fine on chromium and firefox.

[2020-07-09 19:46] MarcusTomlinson commented on #16
Could you try re-installing like this:

[code]

If this still doesn't work, try `snap install icloud-for-linux --devmode` in place of the third step above.

If this does not work, please run `icloud-for-linux.notes` from the terminal and share the output here.

Thanks.

[2020-07-09 23:07] slinkouswasalreadytaken commented on #16
Hmm, I did that, with the same problem...
[code]

[2020-07-10 09:24] MarcusTomlinson commented on #16
@slinkouswasalreadytaken could you have a look at https://github.com/cross-platform/icloud-for-linux/issues/9, looks like the same issue you're having.

[2020-07-16 14:42] #16 closed

[2020-07-16 14:50] cyakimov opened #17 "No Apps will open in Manjaro due to AppArmor"
I just installed this package in Manjaro 20 with `snapd` but no app will open.

I did `journalctl -b | grep -E "icloud"` and it seems AppArmor is denying the operation.

[code]

[2020-07-16 14:52] MarcusTomlinson commented on #17
@cyakimov could you please run `apple-music-for-linux` from the terminal and share the output here.

[2020-07-16 14:54] cyakimov commented on #17
Thanks for the quick response!

This is what I get:
[code]

[2020-07-16 14:56] MarcusTomlinson commented on #17
The AppArmor denials may be harmless, please could you try the solutions suggested on https://github.com/cross-platform/icloud-for-linux/issues/9 to clear your font cache.

[2020-07-16 15:06] cyakimov commented on #17
It worked!

I'm leaving the steps here for posterity:

[code]

Thanks @MarcusTomlinson

[2020-07-16 15:06] #17 closed

[2020-07-16 15:12] MarcusTomlinson commented on #16
Duplicate of: https://github.com/cross-platform/icloud-for-linux/issues/17

[2020-07-16 15:12] MarcusTomlinson commented on #9
Duplicate of: https://github.com/cross-platform/icloud-for-linux/issues/17

[2020-07-16 15:20] slinkouswasalreadytaken commented on #17
No luck. :(
With that first command I'm getting something similar, but not exactly any better...
[code]

[2020-07-16 15:23] MarcusTomlinson commented on #17
@slinkouswasalreadytaken you tried the commands exactly as described here? : https://github.com/cross-platform/icloud-for-linux/issues/17#issuecomment-659473848

[2020-07-16 15:24] slinkouswasalreadytaken commented on #17
Yes, though I had to to rm -rf for the fontconfig, as it was otherwise giving me an "is a directory error".

[2020-07-16 15:31] MarcusTomlinson commented on #17
@slinkouswasalreadytaken try `sudo fc-cache -r -v` in place of `sudo fc-cache -f -v`

[2020-07-16 15:31] slinkouswasalreadytaken commented on #17
Oh, I see what I did wrong... I didn't notice the asterisks. :smiley:
Which would be all well and good if it worked. :grimacing:
And iCloud drive just opened....?

[2020-07-20 04:44] socketbox opened #18 "OpenGL issues cause blank window (using amdgpu driver)"
[code]

I get nothing but a blank white window when attempting to open the app (or any of its variants). Here's what shows up in the terminal if I invoke it via command-line:

[code]

[2020-07-20 07:50] MarcusTomlinson commented on #18
This appears to be an open issue in snapd: https://forum.snapcraft.io/t/problem-with-libdrm-and-amdgpu-pro/9421

According to https://forum.snapcraft.io/t/problem-with-libdrm-and-amdgpu-pro/9421/14, a workaround is to uninstall the `amdgpu-pro` proprietary driver and install only the open source `amdgpu` driver.

[2020-07-20 14:36] #18 closed

[2020-07-29 15:48] davidganz opened #19 "Fedora 32 Crash"
qmlscene quit unexpectedly

[2020-07-29 16:04] davidganz opened #20 "Kali 2020 Cannot Launch"
Again on Kali 2020.
CLI output:
icloud-for-linux.notes
Qt: Session management error: Authentication Rejected, reason : None of the authentication protocols specified are supported and host-based authentication failed
"/home/magcig/notes" does not exist.
"/home/magcig/iCloud Notes" does not exist.
[177432:177657:0729/085033.997242:ERROR:nss_ocsp.cc(591)] No URLRequestContext for NSS HTTP handler. h

[2020-07-29 16:30] MarcusTomlinson commented on #19
Are you able to run the ElectronPlayer snap?

[code]

If not, it looks like it may be a Fedora issue. See: https://github.com/oscartbeaumont/ElectronPlayer/issues/46

[2020-07-29 16:53] MarcusTomlinson commented on #20
Could you do me a favour and try running the version from candidate:

[code]

[2020-07-31 19:55] davidganz commented on #20
Hi Marcus,

I confirm the 'candidate' is now successfully tested Working on Kali 2020!
I'm the tutorialforlinux.com Website owner and as I can I'll help you to
publicize your useful App.
Later I'll test also the Fedora issue and give you a Feedback.

Best Regards,
David

On Wed, Jul 29, 2020 at 9:53 AM Marcus Tomlinson <notifications@github.com>
wrote:

[2020-07-31 20:03] davidganz commented on #20
On Kali 2020 iCloud Notes after I got this issue:
"This browser's WebGL feature is not available. Try restarting your browser
or try a different browser."
And I it shut down.
However I tested it working on All other Services: Drive, Calendar,
Contacts, Mail...
Let me know.

On Fri, Jul 31, 2020 at 12:55 PM David Ganz <davidganz139@gmail.com> wrote:

[2020-07-31 21:09] MarcusTomlinson commented on #20
Yeah ok, so the version in candidate attempts to workaround the issue by setting `QT_XCB_FORCE_SOFTWARE_OPENGL=1`, but clearly this is no good as Notes and Reminders require WebGL.

This is the same issue we're experiencing: https://github.com/rstudio/rstudio/issues/3781
Of particular interest: https://github.com/rstudio/rstudio/issues/3781#issuecomment-434148237

Digging deeper it appears Qt have

[2020-07-31 21:09] #20 closed

[2020-08-06 14:43] MarcusTomlinson commented on #19
I've just tested this on Fedora 32, and while I do see the "qmlscene quit unexpectedly" error popup, the applications do actually launch.

If this is not the case for you, please open up the terminal, run:

`snap run icloud-for-linux.numbers`

and share the output here.

Thanks.

[2020-08-08 22:18] MarcusTomlinson commented on #19
Hi again @davidganz, in testing on Fedora, I noticed a few weird things happening with app naming and dock icons. I've just released 0.8 that deals with these issues. Perhaps you'd want to `snap refresh` and see if this update has any positive effect on your issue.

[2020-08-12 21:21] geolimber commented on #19
Hi Marcus. I can't launch icloud-for-linux on Arch. I've installed snapd via AUR followed by instrucctions. And then without any issues isntalled icloud-for-linux via snap.
But when i try to launch any icloud programm i got this errors and nothing starts.
[code]

[2020-08-12 21:40] davidganz commented on #19
Hi Marcus,

thanks fo the insight.

Regards,
David

On Wed, Aug 12, 2020 at 2:21 PM Sergio Marchenko <notifications@github.com>
wrote:

[2020-08-13 06:05] MarcusTomlinson commented on #19
@geolimber see: https://github.com/cross-platform/icloud-for-linux/issues/17#issuecomment-659473848

[2020-08-13 06:06] MarcusTomlinson commented on #19
@davidganz can we close this issue now?

[2020-08-14 00:42] geolimber commented on #19
It works for me, thanks!

[2020-08-16 03:52] ThanhhDatt opened #22 "Cannot Open on Ubuntu 20.04 LTS"
Hi Macus
I've already install it on Ubuntu 20.04 LTS
But when i open, it appears with blank screen and disappear immediately
Did i miss anything??

[2020-08-16 04:06] ThanhhDatt commented on #22
I did like this but nothing happen :<

[code]

[2020-08-16 04:47] MarcusTomlinson commented on #22
Are you perhaps running this in a virtual machine?

[2020-08-16 09:52] ThanhhDatt commented on #22
No Marcus, I dual boot Ubuntu and Windows

[2020-08-16 10:33] ThanhhDatt commented on #22
Thanks Marcus, after reinstall Ubuntu, i can use it
It works perfectly but a little bit slowly when i first open it
But generally, it's nice

[2020-08-16 11:10] #22 closed

[2020-08-21 15:40] dirkgently73 opened #23 "icloud for linux stopped working on raspberry pi"
Dear Marcus,

thank you very much for your app. It works fine on ubuntu and solus and it worked on raspberry pi (raspbian buster) after installing in devmode.
Then, at some point, it stopped working.

I tried
snap remove icloud-for-linux
rm -rf ~/snap/icloud-for-linux
snap install icloud-for-linux****

and snap install icloud-for-linux --devmode

I also tried

# Uninstall icloud-for-linux
snap rem

[2020-08-23 18:47] MarcusTomlinson commented on #23
Sounds like a graphics driver issue. Please try:

`QT_XCB_FORCE_SOFTWARE_OPENGL=1 icloud-for-linux.numbers`

If this works you may need to find a different graphics driver, or perhaps just an updated one.

Note: software rendering won’t work on Notes and Reminders as they require webgl.

[2020-08-26 17:24] dirkgently73 commented on #23
$ QT_XCB_FORCE_SOFTWARE_OPENGL=1 icloud-for-linux.numbers
2020/08/26 18:22:00.733766 system_key.go:127: cannot determine nfs usage in generateSystemKey: cannot parse /etc/fstab: expected between 3 and 6 fields, found 1
Sandboxing disabled by user.
[24394:24558:0826/182222.313455:ERROR:ssl_client_socket_impl.cc(1101)] handshake failed; returned -1, SSL error code 1, net_error -107
js: Uncaught Refe

[2020-09-16 12:35] fechbmaster commented on #23
Got the same problem - any updates on this?

[2020-09-17 20:19] MarcusTomlinson commented on #23
Sorry guys, not got around to setting up my rpi for this just yet. Will try over the weekend.

[2020-09-18 18:35] eeickmeyer opened #24 "Does not start on Fedora using Wayland"
Also reported to the unofficial-webapp-todo developer (mxarc#1) and unofficial-webapp-office developer as well (sirredbeard#28).

Just as an example, using Mail, attempted form command line using QT_DEBUG_PLUGINS=1:

[code]

[2020-09-23 09:30] PaulLerner opened #25 "Wrong time display"
Hi, thanks for your awesome app!
One thing is weird though, in the calendar it displays pacific time (or something that's 9 hours earlier than european central time), although I have checked "manage time zones" in the preferences (it doesn't have to seem any effect), and when editing the event, it displays the right time zone and time for the event, see screenshots below:
![image](https://user-ima

[2020-10-01 15:03] PaulLerner commented on #25
Ok, this happens also on https://www.icloud.com/calendar/ so I guess there's nothing you can do about it :(

[2020-10-01 15:03] #25 closed

[2020-10-02 19:02] LevBernstein opened #26 "Can't attach files"
Running ParrotOS 4.10 (based on Debian Buster). Whenever I press the "attach" button, nothing happens in the GUI; the window to some kind of file manager does not open. My terminal outputs the following:

[code]

This is not urgent, as I can move the files through other means. Thanks!

[2020-10-07 04:37] MarcusTomlinson commented on #24
Looks like https://gitlab.gnome.org/GNOME/mutter/-/merge_requests/1424 broke X11 for snaps :/

Upstream bug: https://gitlab.gnome.org/GNOME/mutter/-/issues/1454

[2020-10-17 10:36] MarcusTomlinson commented on #26
Hi @LevBernstein, thanks for the report. This is now fixed in version 0.9 of the snap.

[2020-10-17 10:36] #26 closed

[2020-10-18 03:41] LevBernstein opened #27 "Sent emails don't close or indicate that they have sent"
Hello,
This isn't a new issue for me and is very minor, but still worth mentioning. Running ParrotOS 4.10, KDE Plasma 5. Whenever I press the send button on an email I have written, the wheel next to the attach button will spin for a second and then freeze. When it has frozen, that means the email has sent, I have found. Despite having sent, the window containing this new message I have composed d

[2020-11-01 11:15] MarcusTomlinson commented on #27
Hi @LevBernstein, thanks for the report. This is now fixed in version 0.10 of the snap :)

[2020-11-01 11:15] #27 closed

[2020-11-01 16:07] LevBernstein commented on #27
Thanks!

[2020-11-11 08:57] MuellersPeter commented on #23
Same issue here. Any further information to fix this? It is a big need for me to use my iCloud on a Raspberry Pi.

[2020-11-14 19:40] loeffel-io opened #28 "Scaling still not working"
Thanks for this beautiful app, but please just fix the scaling - way to small for uhd

[2020-11-14 20:38] MarcusTomlinson commented on #28
Hi @loeffel-io could you please try launching from the terminal like so:

QT_AUTO_SCREEN_SCALE_FACTOR=1 icloud-for-linux.notes

and let me know if that fixes things?

[2020-11-14 21:38] MarcusTomlinson commented on #28
Hmm, ok just tried this, doesn't work.

In the meantime, while I try to find a better solution for this, you could run the apps like this:

`QT_SCALE_FACTOR=x icloud-for-linux.notes`

Where `x` is the scale factor of your display. E.g. scale factor 2 = 200% scaling

[2020-11-14 22:57] MarcusTomlinson commented on #23
Sorry this is taking so long guys. I _may_ have finally found the cause:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=882805

Updating qtwebengine _might_ be all we need, I’m really not sure. Will dig a little more tomorrow.

[2020-11-15 14:06] MarcusTomlinson commented on #28
This is now fixed in version 0.11.

[2020-11-15 14:06] #28 closed

[2020-11-15 14:06] MarcusTomlinson commented on #23
This is now fixed in version 0.11.

[2020-11-15 14:06] #23 closed

[2020-11-18 22:37] jonnymaserati opened #29 "Opens a blank window with libGL errors on Ubuntu 20.04.1 LTS"
I'm not able to use any of the apps. I just get a blank window like this.
![image](https://user-images.githubusercontent.com/41046859/99596221-34d4ff80-29f6-11eb-9444-79885202720f.png)
With the following errors.
[code]
I've removed the `amdgpu-pro` drivers and installed the latest 20.45 `amdgpu` drivers as well as reinstalling the `libgl1-mesa-dev`, but none of these have helped remedy this issue.

[2020-11-18 22:54] MarcusTomlinson commented on #29
Are you using X11 or Wayland?

`echo $XDG_SESSION_TYPE`

[2020-11-19 07:34] jonnymaserati commented on #29
@MarcusTomlinson thanks for the prompt response!

Using `x11`

With `--devmode` then I get the log-in screen and can now successfully log in, so that's progress!
![image](https://user-images.githubusercontent.com/41046859/99634977-a1c1b700-2a41-11eb-90e0-6cfee5c6404f.png)
However, I still get an error:
[code]

[2020-11-19 13:06] MarcusTomlinson commented on #29
ok, can you try:

[code]

and share the output.

If you still get a blank screen, try:

[code]

Thanks!

[2020-11-19 14:13] jonnymaserati commented on #29
Thanks @MarcusTomlinson

After following your first code block, I indeed am back to a blank window with the following errors:
[code]
After following your second code block (the net link seemed to work okay), I still get an empty window and the following errors (they look the same as above).
[code]
So your `--devmode` code works but not the others?

[2020-11-19 14:22] MarcusTomlinson commented on #29
You sure you have the non-pro (opensource) amd drivers installed? very odd.

did you get any errors from the `snap connect icloud-for-linux:netlink-connector` call?

[2020-11-19 14:30] jonnymaserati commented on #29
Yep, I uninstalled `amdgpu-pro` and I just checked the `/opt/amggpu-pro` folder... it's there but just has empty folders.

Yes, the `snap connect icloud-for-linux:netlink-connector` call appears to work (there's no errors).

[2020-11-19 14:32] MarcusTomlinson commented on #29
Alright, I suppose your only option at this point is `--devmode` (which means the app will have to run unconfined). Sorry about that. I'll let you know if I have any others ideas. Thank you for taking the time to help!

[2020-11-19 14:34] jonnymaserati commented on #29
Thanks for taking the time to check it out!

[2020-11-19 19:27] MarcusTomlinson commented on #29
I've just pushed another version to candidate. When you get a moment, could you please try these steps again: https://github.com/cross-platform/icloud-for-linux/issues/29#issuecomment-730362801.

[2020-11-22 09:54] jonnymaserati commented on #29
Hi @MarcusTomlinson... I just tried the new `--candidate` but same outcome:
[code]
`--devmode` continues to work though.

[2020-11-22 10:06] MarcusTomlinson commented on #29
Ok thanks for the update!

[2020-12-13 07:06] #29 closed

[2020-12-25 17:22] llano-dan opened #30 "Not using OS pointer"
Minor annoyance, but I'm in Ubuntu 20.04. The pointer cursor (hand) is different from that of the OS.

I've seen this in different snaps.
![IMG_0163](https://user-images.githubusercontent.com/41120327/103139592-22797000-46de-11eb-9035-6012b0be36a5.JPEG)

[2020-12-28 07:55] Koshiran opened #31 "Cannot write on Japanes"

[2021-01-05 16:32] maker-git714 opened #32 "iCloud Drive files not accessible"
I am able to login to my iCloud account with iCloud for Linux but I cannot download the files from my drive.  The download menu icon does not respond to mouse clicks.  I am running Ubuntu 20.04 LTS installed on an early 2009 iMac.

[2021-01-05 18:37] maker-git714 commented on #32
Hi thanks, the files were indeed found in my downloads directory(multiple copies due to multiple clicks of the mouse):-)
A suggestion of showing the progress for future updates would be great.  Otherwise, a really helpful app.

[2021-01-05 18:37] #32 closed

[2021-01-19 18:20] JMR62 opened #34 "Crash on Debian"
I have get a crash on Debian when running _snap run icloud-for-linux.drive_ ( same happens with notes...)
a new window is opening then the complete system is freezing (I can open a new terminal and restart)
Before the crash these line appears in the command window:
**Messages in user log**
... Jan 19 18:31:48 kibox icloud-for-linux_drive.desktop[8704]: WARNING: cgroup v2 is not fully supported yet

[2021-01-19 19:18] MarcusTomlinson commented on #34
Looks like you're facing this: https://bugs.mageia.org/show_bug.cgi?id=27159

If you google "GPU HANG: ecode 7:1:8edcfc79" you'll see a bunch of related reports. Essentially sounds like you need a kernel update.

[2021-01-19 19:27] JMR62 commented on #34
Thanks.
You are right some last Debian update did a mess it seems...
sorry to incriminate to fast icloud for linux

[2021-01-19 19:42] MarcusTomlinson commented on #34
No problem. Let me know if you find a solution!

[2021-01-19 19:42] #34 closed

[2021-01-20 16:22] mcallaway commented on #23
I am still seeing this error on Raspberri Pi 2B:

    ERROR: ld.so: object '/usr/lib/arm-linux-gnueabihf/libarmmem-${PLATFORM}.so' from /etc/ld.so.preload cannot be preloaded (cannot open shared object file): ignored.
    libEGL warning: DRI2: failed to authenticate
    ^C

    icloud-for-linux  0.11      213  candidate  marcustomlinson  -

[2021-01-20 16:29] MarcusTomlinson commented on #23
@mcallaway, could you try reinstalling the stable version like so:
[code]

[2021-01-20 17:17] mcallaway commented on #23
pi@raspberrypi:~ $ sudo snap remove --purge icloud-for-linux
    error: unknown flag `purge'
    pi@raspberrypi:~ $ sudo snap remove icloud-for-linux
    icloud-for-linux removed

    pi@raspberrypi:~ $ sudo snap install icloud-for-linux
    icloud-for-linux 0.11 from Marcus Tomlinson (marcustomlinson) installed
    pi@raspberrypi:~ $ sudo snap list
    Name              Version   Rev  Tracking  P

[2021-01-21 08:21] MarcusTomlinson commented on #23
Hmm `error: unknown flag 'purge'`, looks like you're behind in updates. What distro and version are you running?

[2021-01-21 08:36] MarcusTomlinson commented on #23
@mcallaway, ah apologies, I see the same errors on my raspberry pi too. You can actually ignore them. Just leave it to load a bit more and eventually the app will appear.

[2021-01-21 15:41] mcallaway commented on #23
This is what I see now:

    pi@raspberrypi:~ $ cat /etc/issue
    Raspbian GNU/Linux 10 \n \l

    sudo apt update
    sudo apt full-upgrade

    ... a few packages are updated, but /etc/issue still shows 10

    pi@raspberrypi:~ $ cat /etc/issue
    Raspbian GNU/Linux 10 \n \l

    pi@raspberrypi:~ $ sudo snap list
    Name              Version   Rev  Tracking  Publisher        Notes
    core20

[2021-01-24 17:17] MikeVaccaro opened #35 "product installs but will not start"
from the Gui when I start any of the Icloud modules, nothing happens.
from the command line, I do snap list and it shows up
I try snap run icloud-for-linux and it says
error: cannot find app "icloud-for-linux" in "icloud-for-linux"

please advise!

[2021-01-24 17:27] MarcusTomlinson commented on #35
Hi @MikeVaccaro, the snap is made up of a number of applications (mail, contacts, calendar, etc.). In order to run one of them you’ll need to execute icloud-for-linux.<app> (E.g. icloud-for-linux.mail)

typing “ icloud-for-linux.” then pressing tab will display your options.

[2021-01-24 17:27] #35 closed

[2021-02-02 19:41] hodgei opened #36 "icloud-for-linux fails to open any window and spews out ld.so errors :-("
Just installed snapd and icloud-for-linux on my RaspberryPI4 running the latest release of Raspberry Pi OS - 10.
All upgrades performed and rebooted.

When I try to run any of the commands I get :
`pi@Orac:~ $ echo $XDG_SESSION_TYPE
x11
pi@Orac:~ $ icloud-for-linux.notes --devmode
ERROR: ld.so: object '/usr/lib/arm-linux-gnueabihf/libarmmem-${PLATFORM}.so' from /etc/ld.so.preload cannot be preload

[2021-02-02 20:11] MarcusTomlinson commented on #36
Usually you can just ignore those errors. Does the app not eventually open?

[2021-02-02 21:35] hodgei commented on #36
Retried it just now after installing the 'hello-world' snap just to make sure I wasn't wasting your time and it does now work either from the command line or from the run box - so I'm flumoxxed why it wasn't working earlier - please close this issue.

Regards,

Iain.

[2021-02-02 21:35] #36 closed

[2021-02-24 08:02] dtantono opened #37 "(Feature Request) Icloud on Flatpak"
Hi
Is this possible for this app available on flatpak as well?

[2021-02-24 08:11] MarcusTomlinson commented on #37
I don’t have any plans to do this but I’m happy to accept a PR for this.

[2021-04-13 06:22] Nopraz opened #38 "Can't download file from Photos"
Hello,
I'm having a problem with the Photos app, when I click on download on any photos in my icloud it doesn't open the choose location to save the file:

[https://ibb.co/NLN7dr3](url)

Here is the logs after clicking on the download button :
[code]

[2021-04-17 19:27] r-a-i opened #39 "Doesn't seem to run through VNC/xfce4. Is there a command line mode?"
Thank you so much for developing this great utility. It will be amazing to have this functionality!

I installed via sudo snap install icloud-for-linux.
When I log into my Ubuntu 18.x via VNC with xfce4 desktop I can see all the iCloud apps in the Applications/Other menu.
However, when I click on any of the iCloud apps, nothing happens.

Is there any log in or configuration step that I should perf

[2021-04-17 21:21] MarcusTomlinson commented on #39
Hi @r-a-i, so this app is really just an embedded browser pointing at https://www.icloud.com/.

For your one-shot purpose, I’d just recommend navigating there in your browser.

If you’d like to pursue the app route further, you can open the terminal, run:

`icloud-for-linux.drive`

and share the output here.

[2021-04-18 00:21] r-a-i commented on #39
Thanks Marcus. For the time being, I found a workaround by rsyncing from my Mac to Linux. It's clumsy but works for now. I'll keep an eye on this project as it matures.

[2021-04-18 00:21] #39 closed

[2021-04-19 14:34] PaulLerner opened #40 "can’t upload file from drive, says it’s a folder"
Hi, it’s pretty much all in the title: when I try to upload a file (only tried PDF) from drive there’s an error saying something like ‘cannot upload folder, only files are supported’ (even though it’s a file obviously)
Everything works fine from https://www.icloud.com/ (unlike my previous issue ;) )

# Specs
[code]
Not sure where to find `icloud-for-linux.drive` version

[2021-05-02 16:18] saltsucker opened #41 "No way to sync or add folders?"
Hard to find any documentation on how to use this snap app. So, can I sync a folder with this, or at least upload a folder? Seems like I can only do one file at a time.

[2021-05-31 09:34] MarcusTomlinson commented on #38
After you click the download button the image should just appear under ~/Downloads. There's no prompt which is non-ideal of course. Works for me on Ubuntu 20.04 at least.

[2021-06-05 12:27] tagMacher commented on #7
This app seems pointless in that the functionality provided already is available through any browser on Linux. Sync / access from Linux as a mounted storage would be the only reason to use it, IMO, but the developer has marked it "wontfix".

[2021-06-10 15:52] hlgrftschn opened #42 "download from iCloud Drive"
Hi, I'm new on GitHub.
thanks for your great work
iCloud works for me, but I cant download files from iCloud Drive and from Fotos.
Upload works with both and no, there are no downloaded files in ~/downloads
Ah and sorry, I use Linux Mint 20 and snap 2.50.1 with icloud-for-linux 0.11

[2021-06-15 11:12] MarcusTomlinson commented on #42
Could you run Drive from the terminal like so: `icloud-for-linux.drive` then try to download a file and share the output from the terminal here. Thanks!

[2021-06-15 11:17] MarcusTomlinson commented on #41
Yes, you can only upload files, not folders. This is a limitation of the iCloud web interface unfortunately.

[2021-06-15 11:17] #41 closed

[2021-06-15 11:35] hlgrftschn commented on #42
Thanks Marcus,
I can't download any file, but I got this output when I do `icloud-for-linux.drive `
[code]
Should I enable Sandboxing? How?

Thanks Holger

[2021-06-16 09:54] MarcusTomlinson commented on #42
Nah, it won't have anything to do with that. Sandboxing is disabled app-level as the snap naturally takes care of that.

Could you try:

[code]

(sorry, you will then have to log in again)

[2021-06-21 05:55] hlgrftschn commented on #42
Sorry for the late response.
It doesn't work :-(
[code]
I can create folder, delete folder and files but I can't download any files.
Any ideas?

Regards Holger

[2021-06-23 18:52] tosziro opened #43 "tiny mouse on 4k screen"
![Zrzut ekranu z 2021-06-23 20-50-20](https://user-images.githubusercontent.com/41963712/123152229-a9788c80-d464-11eb-896a-c409f80fa8c4.png)

Mouse cursor is very small on 4k screen. Could you please fix this?
X11 Ubuntu 21.04

Its exacly like this: https://forum.snapcraft.io/t/very-ugly-cursor-for-spotify-and-kde-snaps/17118/3

Interface               Plug                                     Slot

[2021-07-18 09:08] MarcusTomlinson commented on #24
@eeickmeyer could you try the latest snap and see if this issue is now resolved? Thanks!

[2021-07-19 23:58] dbouras opened #44 "openSUSE Leap menu entries"
The desktop entries installed under /var/lib/snapd/desktop/applications don't have a "Categories=" key. According to the [Desktop entry spec](https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html) this is not required, but most distros/desktop environments (openSUSE Leap/KDE being one such case) use it to figure out where to load it on the Application Menu.

The

[2021-08-11 12:05] logicito commented on #43
I have a 1920 x 1200 screen, and have the same issue, super small mouse cursor, please fix it, your app is great!! Thank you

[2021-08-11 23:00] fixxs75 opened #45 "can't see files from mounted partition"
In mail, I can't see my files from a mounted partition on home/Datos.

[2021-08-12 11:59] kcossabo commented on #35
thank you. for the new / novice this might be put on the intro page or readme. I was about to give up.

[2021-08-22 09:23] iMonZ commented on #24
Nope.
For me, instead of crashing, it's just ignoring the QT_QPA_PLATFORM variable.

[2021-08-22 09:24] iMonZ commented on #24
Can you add the Wayland plug again to see if it works now?

[2021-09-28 20:04] SimonDedman commented on #38
If I select one photo and click download nothing happens. If I select multiple, it downloads a zip of those files in ~Downloads. Obviously an easy workaround but unintuitive / buggy.

[2021-10-17 23:39] cuvy commented on #45
It looks to me like this might just be a container that presents a web view. If you log into icloud from a browser, the interface looks exactly the same. I'd say the icloud content is never available or accessible via any sort of filesystem (which is a shame, but i'd say it would probably be very difficult to reverse the protocols to allow this)

[2021-11-14 12:51] MHohenberg opened #46 "Can we have some documentation, please?"
Can we have some information about what this actually does? I was looking for a sync functionality similar to owncloud/dropbox/mega ... but that is not what this program seems to do? Or maybe there is a hidden switch that I have not found yet?

Some basic documentation, e.g. in the README.md, would allow people to gauge usefulness against their use-case and is a pretty standard thing to do.

[2021-11-20 17:41] scribbles commented on #46
This snap simply opens a Qt window and goes to the iCloud URL for each app. It's exactly what is available to you via a web browser.

[2021-11-21 12:31] azuredusk10 commented on #30
I'd also like to add to this. My cursor is half the size in the iCloud apps compared to across the rest of my system:
![image](https://user-images.githubusercontent.com/18142893/142761891-e3eff6ba-cd46-43a1-bffa-3d5e1557f309.png)

[2022-01-15 15:42] bepstein111 opened #47 "Can't run on Debian 11"
Brand new Debian 11 install, I installed apple-music-for-linux and got that to work fine, but icloud-for-linux (installed with and without --devmode as suggested by #6) is giving me the following error upon running `/snap/bin/icloud-for-linux.drive &`:

[code]

Just unsure how to proceed from here. Any help is appreciated. Thanks!
-bepstein111

PS. this doesn't seem related to #34 or #36 to me, bu

[2022-01-31 07:44] jonno6766 opened #48 "Feature request"
Is there any intention of including a bulk export menu option for content such as Notes?

[2022-02-17 02:44] simpson-sean opened #49 "Does not load on OpenSUSE Tumbleweed"
SYSTEM DETAILS

Operating System: openSUSE Tumbleweed 20220214
KDE Plasma Version: 5.24.0
KDE Frameworks Version: 5.90.0
Qt Version: 5.15.2
Kernel Version: 5.16.8-1-default (64-bit)
Graphics Platform: X11
Processors: 8 × 11th Gen Intel® Core™ i7-11370H @ 3.30GHz
Memory: 31.1 GiB of RAM
Graphics Processor: Mesa Intel® Xe Graphics

ISSUE
Installs from SNAPCRAFT just fine, at least no errors reported

[2022-03-15 10:16] pondakun opened #50 "Upload files JSON-RPC error"
I try to upload some document's and he upload 2 of them and ask me to .zip when i try to multi files (all pdf)
in terminal the error i get is:
 js: A JSON-RPC registration was not found for method `MeCardServiceToChildProtocol-didFetchMeCard`.

[2022-05-13 01:09] dtantono opened #51 "Packaging as a deb file"
Hi
Is there any possibility for deb file for this app?

[2022-05-13 07:10] MarcusTomlinson commented on #51
I don’t have any plans to do this myself but happy to review a PR.

[2022-05-29 15:08] Monikae commented on #42
This results in the following console output on Kubuntu 20.04:

[8228:8333:0529/170617.441422:ERROR:object_proxy.cc(616)] Failed to call method: org.freedesktop.PowerManagement.Inhibit.Inhibit: object_path= /org/freedesktop/PowerManagement/Inhibit: org.freedesktop.DBus.Error.AccessDenied: An AppArmor policy prevents this sender from sending this message to this recipient; type="method_call", sende

[2022-08-11 05:25] Free-Radical commented on #51
I'll second that; anything other than a Snap would be fantastic.
PS whats a "PR"?

[2022-08-16 08:38] tijnzor opened #52 "Reminders crashes on Manjaro"
Opening reminders via Icloud.com works fine.

**Error Message:**
_APP NAME
reminders2

HOSTING APP NAME
cloudos2

CLIENT TIME
Tue Aug 16 2022 10:34:21 GMT+0200 (Midden-Europese zomertijd) (1660638861039)

USER AGENT
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) QtWebEngine/5.12.8 Chrome/69.0.3497.128 Safari/537.36

HOSTNAME
www.icloud.com

BUILD INFO
2220Project30__2220B20

[2022-08-18 01:45] AgustinNormand commented on #52
Same issue here

[code]

[2022-08-18 12:36] poldy79 commented on #51
PR == Pull Request (on github)

[2022-09-20 15:01] Pat-re opened #53 "Squash FS issue on 20.04LTS solved"
Hi All;
 On Kubuntu 20.04LTS I got the following error;
---------------------------------------------------------------------------------------------
pat@littleBoy:~$ sudo snap install icloud-for-linux
error: cannot perform the following tasks:
- Mount snap "core20" (1623) (cannot run unsquashfs:
-----
Filesystem uses xz compression, this is unsupported by this version
Decompressors available:

[2022-10-01 10:02] Halonk opened #54 "All iCloud features quit working on Ubuntu"
Well....
This took off a bit for a newbie like me, create an account on GitHub and all, just to report an error. OK, but that is what I wanted to tell. Ubuntu 20.04. Downloaded iCloud from snap and had to log in on a few of them and they all worked fine. Now, nothing, dark window, "this seems to take a long time" "wait" or "force quit" where the last is the only solution. I have not written a code

[2022-10-16 17:42] MarcusTomlinson commented on #54
Could you try re-installing like this:

[code]

[2022-10-16 17:51] MarcusTomlinson commented on #49
Could you try re-installing like this:

[code]

If this still doesn't work, try `snap install icloud-for-linux --devmode` in place of the third step above.

If this does not work, please run `icloud-for-linux.notes` from the terminal and share the output here.

Thanks.

[2022-10-17 17:02] #53 closed

[2022-10-17 17:05] MarcusTomlinson commented on #52
This should be fixed in v0.12 now. Please run `snap refresh icloud-for-linux`.

[2022-10-17 17:06] MarcusTomlinson commented on #50
Could you try v0.12 - Run `snap refresh icloud-for-linux`.

[2022-10-17 17:06] MarcusTomlinson commented on #47
Could you try v0.12 - Run `snap refresh icloud-for-linux`.

[2022-10-17 17:07] MarcusTomlinson commented on #44
This should be fixed in v0.12 now. Please run `snap refresh icloud-for-linux`.

[2022-10-17 17:07] MarcusTomlinson commented on #42
This should be fixed in v0.12 now. Please run `snap refresh icloud-for-linux`.

[2022-10-17 17:08] MarcusTomlinson commented on #40
Could you try v0.12 - Run `snap refresh icloud-for-linux`.

[2022-10-17 17:08] MarcusTomlinson commented on #38
Could you try v0.12 - Run `snap refresh icloud-for-linux`.

[2022-10-17 17:08] MarcusTomlinson commented on #31
Could you try v0.12 - Run `snap refresh icloud-for-linux`.

[2022-10-17 17:08] MarcusTomlinson commented on #30
Could you try v0.12 - Run `snap refresh icloud-for-linux`.

[2022-10-17 17:14] MarcusTomlinson commented on #24
Could you try v0.12 - Run `snap refresh icloud-for-linux`.

[2022-10-17 17:19] MarcusTomlinson commented on #48
I can only support functions provided by Apple's web applications, this not being one of them, sorry.

[2022-10-17 17:19] #48 closed

[2022-10-17 17:20] #46 closed

[2022-10-17 17:20] #45 closed

[2022-10-17 17:20] MarcusTomlinson commented on #43
This should be fixed in v0.12 now. Please run `snap refresh icloud-for-linux`.

[2022-10-17 18:00] dbouras commented on #44
Works like a charm now - thanks!

[2022-10-17 18:00] #44 closed

[2022-11-01 18:17] #52 closed

[2022-11-01 18:17] #43 closed

[2022-11-01 18:17] #42 closed

[2022-11-01 18:17] #24 closed

[2022-11-01 18:17] #30 closed

[2022-11-01 18:18] #40 closed

[2022-11-01 18:18] #47 closed

[2022-11-01 18:18] #49 closed

[2022-11-01 18:18] #50 closed

[2022-11-01 18:18] #54 closed

[2022-11-01 23:41] dtantono commented on #51
I see, it is completed. where is the URL?

[2022-11-01 23:41] dtantono commented on #37
I see, it is completed. where is the URL?

[2022-11-02 02:16] MarcusTomlinson commented on #51
Closed by mistake.

[2022-11-02 02:16] MarcusTomlinson commented on #37
Closed by mistake.

[2022-11-05 17:29] azuredusk10 commented on #30
This seems to have solved the problem - thank you!
El 1 nov 2022, 18:18 +0000, Marcus Tomlinson ***@***.***>, escribió: